# Projeto 1 - Ciência dos Dados

Nome: _____

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [9]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Lior Lerner\Documents\P1-Cdados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [10]:
filename = 'tweets_xbox.xlsx'

In [11]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Unnamed: 1
0  this isn’t meant to be a console war tweet, it...         0.0
1  spot the props! here's some the of models were...         0.0
2  @jaydakid8 i had both the ps5 and xbox series ...         1.0
3  the #playstationshowcase was a great success \...         0.0
4  my brother finally got a new xbox but some thi...         1.0

In [12]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,@swtheory66 i've got ps4 and xbox series s and...,1,NaN,NaN,NaN,NaN,NaN
1,"@zdzisiu2007 i don't be seeing ""to xbox"" anywh...",0,NaN,NaN,NaN,NaN,NaN
2,jorge henrique played ufc 4 (xbox one) in the ...,1,NaN,NaN,NaN,NaN,NaN
3,xbox news: meet the athletes of the gaming for...,0,NaN,NaN,NaN,NaN,NaN
4,controversial but if you own siege on pc and x...,0,NaN,NaN,NaN,NaN,NaN

___
## Classificador automático de sentimento

* Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.


O produto escolhido foi o Xbox, que é um console de videogame da Microsoft.


MUito relevante (3):

Os tweets considerados Muito Relevantes foram os que envolviam problemas técnicos com o console e falta de estoque

Relevantes (2):
Os tweets considerados relevantes foram os que envolviam opiniões  das pessoas em relação à comparação entre o Xbox e seus principais competidores, e opiniões relevantes de como melhorar a plataforma

Pouco Relevantes (1):
Os tweets considerados pouco relevantes foram os que envolviam ideias de jogos que poderião ser adicionados e opiniões relativamente relevantes (se a pessoas gosta da plataforma, etc.)

Irrelevantes (0):
Os tweets considerados irrelevantes foram os que não atenderam nenhuma das categorias listadas acima

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**